/*2 Columns 50%w 100%h--------------------------------*/
.defaultClass1{
	width: 50%;
	height: 100%;
	/*background-color: #d3d3d3;*/
	float:left;
	padding: 5px;
	
}

.defaultClass2{
	width: 50%;
	height: 100%;
	/*background-color: #bdbdbd;*/
	float:left;
	padding: 5px;
	
}
/*---------------------------------------------------*/

.defaultClass3{
	width: 48%;
	height: 96%;
	background-color: #a8a8a8;
	float:left;
	margin:3px;
}

.defaultClass4{
	width: 48%;
	height: 96%;
	background-color: #a9a9a9;
	float:left;
	margin:3px;
}

/*---------------------------------------------------*/

.defaultClass5{
	width: 96%;
	height: 48%;
	background-color: #a8a8a8;
	float:left;
	margin:3px;
	position: absolute;
}

.defaultClass6{
	width: 96%;
	height: 48%;
	top: 250px;
	background-color: #a9a9a9;
	float:left;
	margin:3px;
	position: absolute;
}

/*---------------------------------------------------*/

.defaultClass7{
	width: 46%;
	height: 96%;
	top: 0px;
	background-color: #a8a8a8;
	float:left;
	margin:3px;
	position: absolute;
}

.defaultClass8{
	width: 46%;
	height: 46%;
	top: 0px;
	left: 450px;
	background-color: #a9a9a9;
	float:left;
	margin:3px;
	position: absolute;
}
.defaultClass9{
	width: 46%;
	height: 46%;
	top: 250px;
	left: 450px;
	background-color: #a9a9a9;
	float:left;
	margin:3px;
	position: absolute;
}

/*2nd Set 100%w 50%h ---------------------------------*/
.style1{
	width:100%;
	background-color: pink;
	float:left;
	height: 50%;
	
	}

.style2{
	width:100%;
	background-color: purple;
	float:left;
	height: 50%;
	
}
/*---------------------------------------------------*/

.style3{
	width:100%;
	background-color: brown;
	height: 50%;
	
}

.actives{
	background-color: black;
	width:100%;
	height: 100%;
}

.formatButton{
	position: fixed;
	
	bottom:50px;
}

h2 {
	text-align: center;
}

.mcdModal{
	display: none;
	position: fixed;
	z-index: 1;
	left:0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow:auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.mceModalContent{
	background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.z1{
	z-index: 1;
	position: absolute;
}