<!DOCTYPE html>
<html>
<head>
	<title>Angular UI Test DnD</title>
	<script   src="https://code.jquery.com/jquery-2.2.4.js"   integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="   crossorigin="anonymous"></script>
	<script   src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.js"   integrity="sha256-6HSLgn6Ao3PKc5ci8rwZfb//5QUu3ge2/Sw9KfLuvr8="   crossorigin="anonymous"></script>
	<script src="js/Lib/angular.js"></script>
	<script src="js/Lib/angular-drag-and-drop-lists.js"></script>
	<script src="js/Lib/angular-route.js"></script>
	<script src="js/Lib/angular-resource.js"></script>
	<script src="js/Lib/angular-sanitize.js"></script>
	

	<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
	<script src="js/Lib/angular-modal-service.js"></script>
	<script src="js/uiBootstrap/ui-bootstrap-tpls-2.0.0.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/Controllers/Controllers.js"></script>
	<script src="js/Controllers/crudPages.js"></script>
	<script src="js/Controllers/listController.js"></script>
	<script src="js/Directives/directives.js"></script>
	<script src="js/Directives/contentPop.js"></script>
	<script src="js/Directives/toggleDivs.js"></script>
	<script src="js/Filters/textAngFilter.js"></script>
	<script src="js/Services/services.js"></script>
	<script src="js/Lib/angular-dragdrop.js"></script>
	<script src="js/rangy/rangy-core.js"></script>
	<script src="js/rangy/rangy-selectionsaverestore.js"></script>
	<script src="textAng/dist/textAngular.js"></script>
	<script src="textAng/dist/textAngular-rangy.min.js"></script>
	<script src="textAng/dist/textAngular-sanitize.js"></script>
	<script src="textAng/dist/textAngularSetup.js"></script>
	<script src="js/tinymce/tinymce.js"></script>
	<script src="js/ui-tinymce/tinymce.min.js"></script>
	<script src="js/ui-tinymce/ui-tinymce.js"></script>

	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	
	
	<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.js"></script>
	<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.js"></script>-->
	<link rel="stylesheet" type="text/css" href="textAng/dist/textAngular.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/customStyles.css">
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/formats.css">
	<!-- <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"> -->

</head>
<body ng-app="dropTests" >
	<div>
		<ng-include src="'templates/navBar.html'"></ng-include>
	</div>
	<div ng-controller="GlobalCtrl">
		 
    		
    		
		<ng-view></ng-view>
	</div>	
	


	
	<!-- CONTENT AREA------------------------------------------------------------------------------------------------------------- -->
	<ng-include src="'templates/content-area.html'"></ng-include>
	
	<!-- CONTENT AREA------------------------------------------------------------------------------------------------------------- -->
	<div>
		<ng-include src="'templates/elementList.html'"></ng-include>
	</div>

	<script>
		tinymce.init({
			selector:'textarea',
			resize: false
		});
	
	</script>
	<!-- <div class="panel col-md-12" ng-controller="FormatCtrl">
		<div class="panel col-md-4"></div>
		<div  class="bottomBar panel col-md-4"></div>
		<div class="panel col-md-4"></div>
		<ul class="list-inline > li">
			<li><h3><button class="btn" ng-click="toggleCss()"><i class="fa fa-braille" aria-hidden="true" ng-click="toggle1()"></i></button></h3></li>

		</ul>	
	</div> -->
	
		
</body>

</html>