<div class="content panel col-md-6" ng-controller="ContentElementCtrl">
	<ul>
		<li ng-repeat="page in pageObject.columns"></li>

	</ul>	
	
	<div  class="defaultClass1" ng-show="!my.message" ng-hide="my.message"><img src="{{pageObject.columns[0].items[0].image.src}}" width="{{pageObject.columns[0].items[0].image.width}}" height="{{pageObject.columns[0].items[0].image.height}}" align="{{pageObject.columns[0].items[0].image.align}}" ng-click="alert(this)"></div>
	<div  class="defaultClass2" ng-show="!my.message" ng-hide="my.message" ng-click="alert(this)"><h1 class="{{pageObject.columns[0].items[1].type}}" style="{{pageObject.columns[0].items[1].headerStyle}}">{{pageObject.columns[0].items[1].headerText}}</h1>

		<p class="{{pageObject.columns[0].items[1].type}}" style="{{pageObject.columns[0].items[1].headerStyle}}" ng-click="tinyMceLoad()" ng-bind-html="htmlVariable">{{pageObject.columns[0].items[1].text}}</p></div>
		<div class="z1" ng-show="mceVisibility.boolean">
		<!-- Modal -->
		<div class="z1" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Modal title</h4>
					</div>
					<div class="modal-body">
						<!-- Angular Text Editor Location -->
						<div text-angular ng-model="htmlVariable" class="z2"></div>
						<!-- -------------------------------- -->
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div></div>
		</div>		
		

		<div class="defaultClass7" ng-show="my.message3">SAMPLE3</div>
		<div class="defaultClass8" ng-show="my.message3">SAMPLE3</div>
		<div class="defaultClass9" ng-show="my.message3">SAMPLE3</div>		

		<div class="defaultClass5" ng-show="my.message2">SAMPLE2</div>
		<div class="defaultClass6" ng-show="my.message2">SAMPLE2</div>
		<div class="defaultClass3" ng-show="my.message">SAMPLE</div>
		<div class="defaultClass4" ng-show="my.message">SAMPLE</div>
		

		<div class="formatButton col-md-6" >
			<ul class="list-inline > li">
				<li><h3><button class="btn" ng-click="updateHtml()">Update</button></h3></li>
				<li><h3><button class="{{classesCss[0]}} btn" ng-click="toggleClass1()"><i class="fa fa-braille" aria-hidden="true" ></i></button></h3></li>
				<li><h3><button class="{{classesCss[1]}} btn" ng-click="toggleClass2()"><i class="fa fa-braille" aria-hidden="true" ></i></button></h3></li>
				<li><h3><button class="btn" ng-click="toggleClass3()"><i class="fa fa-braille" aria-hidden="true" ></i></button></h3></li>
			</ul>
		</div>
</div>