<div class="content panel col-md-6" ng-controller="ContentCtrl">
		<div>{{match}}</div>
		<div text-angular></div>
		<div id="forTest" class="defaultClass1" class-rem="boolean1" ng-class="{'defaultClass1':default1, 'style1' : styleCh1}"><h2>1</h2>

			<!-- The dnd-list directive allows to drop elements into it.
     The dropped data will be added to the referenced list -->
     <div class="col-md-4" ng-controller="ContentElementCtrl">
		<div new-directive></div>
		<!-- <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">{{zone}}		
				<div class="dropzone box box-yellow">
					<h3>Dropzone </h3>
						<div ng-include="'templates/list.html'">

						</div>
				</div>		
			</div> -->

		<!-- <div ng-repeat="(listName, list) in models.lists" class="col-md-6">{{model.lists}}</div> -->
	</div>

		</div>

		<div class="defaultClass2" class-rem="boolean2" ng-class="{'defaultClass2':default2, 'style1' : styleCh1, 'style2': styleCh2, 'style3': styleCh3}"><h2>2</h2></div>
		<!-- <div class="defaultClass3" class-rem="boolean3" ng-class="{'defaultClass3':default3, 'style1' : styleCh1, 'style2': styleCh2, 'style3': styleCh3}"><h2>3</h2></div> -->
		<div class="formatButton col-md-6">
			<ul class="list-inline > li">
				<li><h3><button class="btn" ng-click="updateHtml()">Update</button></h3></li>
				<li><h3><button class="btn" ng-click="toggleClass1()"><i class="fa fa-braille" aria-hidden="true" ></i></button></h3></li>
				<li><h3><button class="btn" ng-click="boolean1()"><i class="fa fa-braille" aria-hidden="true" ></i></button></h3></li>
				<li><h3><button class="btn" ng-click="toggleClass3()"><i class="fa fa-braille" aria-hidden="true" ></i></button></h3></li>
			</ul>
		</div>
</div>