<div class="jeh container" ng-controller="ContentElementCtrl">

	<div  class="defaultClass1"><img src="{{pageObject.columns[0].items[0].image.src}}" width="{{pageObject.columns[0].items[0].image.width}}" heights="{{pageObject.columns[0].items[0].image.height}}" align="{{pageObject.columns[0].items[0].image.align}}"></div>
	<div id="textDiv1" ></div>
	<!-- <div id="forTest" class="defaultClass1" class-rem="boolean1" ng-class="{'defaultClass1':default2, 'style1' : newClass}"><h2>1</h2>
	<div class="defaultClass2" class-rem="boolean2" ng-class="{'defaultClass2':default2, 'style2' : newClass, 'style2': styleCh2, 'style3': styleCh3}"><h2>2</h2></div> -->
		<!-- <div class="defaultClass3" class-rem="boolean3" ng-class="{'defaultClass3':default3, 'style1' : styleCh1, 'style2': styleCh2, 'style3': styleCh3}"><h2>3</h2></div> -->
		
	</div>		